nav ul
{	
	list-style:none;
	background-color:#aaaaaa;
	display:inline-table;
	padding:0;
}

nav ul li
{
	float:left;
}

nav ul ul
{
	display:none;
	position:absolute;
	padding:0;
}

nav ul ul ul
{
	top:0;
	left:100%;
	position:absolute;
}

nav ul ul li
{
	float:none;
}

nav ul li:hover>ul
{
	display:block;
}
